Source: gst-plugins-video-dec
Section: libs
Priority: optional
Maintainer: Chanho Park <chanho61.park@samsung.com>,
	HeynChul Jun <hcjun@nexell.co.kr>,
	Seong-O Park <ray@nexell.co.kr>,
	Sungwoo Park <swpark@nexell.co.kr>
Uploaders: Chanho Park <chanho61.park@samsung.com>
Build-Depends: libgstreamer1.0-dev (>= 1.8.0),  libgstreamer-plugins-base1.0-dev (>= 1.8.1), autotools-dev, dh-autoreconf, automake (>= 1.14), autoconf (>= 2.69), libtool (>= 2.2.6), autopoint (>= 0.17), debhelper (>= 9), dpkg-dev (>= 1.15.1), pkg-config (>= 0.11.0), libglib2.0-dev (>= 2.40), gstreamer1.0-plugins-base (>= 1.8.0), nx-gst-meta-dev, nx-video-api-dev
Standards-Version: 3.9.3

Package: gstreamer1.0-plugins-video-dec
Architecture: any-arm arm64
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends},
         gstreamer1.0-plugins-base,
	 nx-gst-meta,
	 nx-video-api
Description: Gstreamer video decoder plugin
