[Unit]
Description=Bluetooth firmware service
Before=bluetooth.target pulseaudio.service
After=rfkill-unblock.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/bluetooth/fwdown.sh

[Install]
WantedBy=multi-user.target
